div.block {
  box-shadow: 0px 1px 4px 1px rgba(112, 132, 163, 0.5);
  border: 1px solid transparent;
  border-radius: 10px;

  margin: 20px;
}

span.temperature {
  font-size: 80px;
}

span.units {
  font-size: 20px;
  position: relative;
  top: -34px;
}

a.celsius-link {
  color: #acbfe5;
}

a.celsius-link:hover {
  color: #acbfe5;
}

a.fahrenheit-link {
  color: #acbfe5;
}

a.fahrenheit-link:hover {
  color: #acbfe5;
}

a.active {
  color: #c9afc7;
  cursor: default;
}

a.active:hover {
  color: #c9afc7;
  text-decoration: none;
}

div.right-block {
  font-size: 20px;
  padding: 20px 20px 0px 20px;
}
