.container {
  font-family: "Darker Grotesque", sans-serif;
  display: block;
  margin: 0 auto;
  padding: 35px 110px;
  width: 700px;
}

.card-back {
  background-image: url(/src/img/STARRYNIGHT.png);
  background-color: transparent;
  border-radius: 5px;
  box-shadow: 0px 4px 4px 2px rgba(112, 132, 163, 1);
  padding: 25px 15px 15px 15px;
}

div.card-body {
  background: linear-gradient(
    to top,
    #9b7e9a 1%,
    8%,
    #3d2f59 20%,
    50%,
    #00001c 90%
  );
  border-radius: 10px;
  box-shadow: 0px 4px 4px 2px rgba(112, 132, 163, 0.4);
  color: #c9afc7;
  padding: 0 10px;
  text-align: center;
}

input.search-engine {
  background: transparent;
  border: 1px solid #c9afc7;
  border-radius: 3px;
  color: #c9afc7;
  margin-right: 3px;
  width: 225px;
}

input.search-button {
  background: #c9afc7;
  border: 1px solid #c9afc7;
  border-radius: 3px;
  color: #3d2f59;
  margin-right: 2px;
}

input.search-button:hover {
  background: #3d2f59;
  color: #c9afc7;
  transition: all 200ms ease-in-out;
}

div.last-updated {
  color: #c9afc7;
  font-size: 22px;
  margin: 15px;
  text-align: center;
}

h1.city {
  color: #acbfe5;
  font-size: 50px;
  font-family: "Dancing Script", cursive;
}

p.description {
  color: #acbfe5;
  font-size: 20px;
  font-family: "Staatliches", cursive;
  margin-bottom: auto;
}

canvas {
  display: block;
  margin: 10px auto;
}

div.block {
  box-shadow: 0px 1px 4px 1px rgba(112, 132, 163, 0.5);
  border: 1px solid transparent;
  border-radius: 10px;

  margin: 20px;
}

span.temperature {
  font-size: 80px;
}

span.units {
  font-size: 20px;
  position: relative;
  top: -34px;
  color: #c9afc7;
}

a.active {
  color: #acbfe5;
  cursor: default;
  margin: 0 5px;
}

a.active:hover {
  color: #acbfe5;
}

div.right-block {
  font-size: 20px;
  padding: 20px 20px 0px 20px;
}
